* {
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    overflow-y: hidden;
}

html, body{
    overflow-x: hidden;
    overflow-y: hidden;
}

html {
    scroll-behavior: smooth;
}


/* Transisi Antar Halaman */
.Semua-Konten{
    animation: transitionIn 1s;
    -webkit-animation: transitionIn 1s;
}

@keyframes transitionIn {

    from{
        opacity: 0;
}

    to{
        opacity: 1;
        
}

}

.Konten-Kiri-Kanan{
    display: flex;
    gap: 20px;
}

.Konten-Kiri{
    width: 800px;
    height: 900px;
    position: relative;
    display: flex;
    flex-direction: column;
    /* gap: 0px; */
}

.Pendaftaran-img{
    /* width: 750px; */
    /* height: auto; */
    /* margin-top: 100px; */
    object-fit: cover;
    width: 800px;
    height: auto;
    z-index: 100;
    margin-top: 98px;
}

.img-1{
    z-index: 1;
    position: absolute;
    width: 600px;
    height: auto;
    transform:rotate(-15deg);
    right: 365px;
    bottom: 400px;
}

.img-2{
    z-index: 1;
    position: absolute;
    width: 180px;
    height: auto;
    right: 230px;
    transform: rotate(15deg);
}

.img-3{
    z-index: 1;
    position: absolute;
    width: 250px;
    height: auto;
    right: 130px;
    top: 200px;
    transform: rotate(15deg);
}


.Konten-Kanan{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.Konten-Kanan > h1{
    font-family: 'poppins', sans-serif;
    color: #0071C1;
    margin-top: 110px;
    font-size: 35px;
}

.Konten-Kanan > h2{
    font-family: 'poppins', sans-serif;
    color: #FDC134;
    margin-top: 20px;
    font-size: 32px;
}

.Konten-Kanan > p{
    font-family: 'poppins', sans-serif;
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
}

.Centang{
    width: 150px;
    display: flex;
    margin-top: 20px;
}

.Konten-Kanan > a{
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background-color: #0071C1;
    width: 380px;
    height: 60px;
    font-size: 30px;
    font-family: 'poppins';
    font-weight: 700;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.Konten-Kanan > a:hover{
    color: #0071C1;
    background-color: transparent;
}