* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #0071C1;
    overflow-y: hidden;
}

html, body{
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

html {
    scroll-behavior: smooth;
}


/* Transisi Antar Halaman */
.Semua-Konten{
    animation: transitionIn 1s;
    -webkit-animation: transitionIn 1s;
}

@keyframes transitionIn {

    from{
        opacity: 0;
}

    to{
        opacity: 1;
        
}

}

.Container{
    display: flex;
    justify-content: center;
    min-width: 100%;
    /* padding-left: 50px;
    padding-right: 50px; */
    margin: 0 auto;

}

.Pembungkus-Nav{

    position: fixed;
    top: 0;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 50px;
    height: 83px;
    background-color: #fff;
    z-index: 900;

}

.nama-Depan{
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-size: 16px;
    color: #FDC134;

}

.nama-Belakang{
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-size: 16px;
    color: #FDC134;

}

.Menu{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 15px;
}

.Aktif{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 15px;
}

.nama-Gabungan{
    line-height: 1.3;
}

#Logo{
    width: 66px;
    height: 66px;
}

.Logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
}

.Menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.Menu > li{
    list-style-type: none;
    padding: 0px 40px 0px 40px;
}

.Daftar{
    color: #fff !important;
    background-color: #0071C1;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.Menu > li > a{
    text-decoration: none;
    color: black;
    position: relative;
    }


a:not(.no-underline)::after{
    content: "";
    position: absolute;
    background-color: #0071C1;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

a:hover::after{
    width: 100%;

}

.Daftar:hover{
    background-color: #fff;
    color: #0071C1 !important;
}

.Aktif-2{
    font-weight: bold;
}


/* Konten Kiri Kanan */

.Konten-Kiri-Kanan{
    display: flex;
}

.Konten-Kiri-Fixed{
    position: fixed;
}

.Konten-Kiri{
    position: relative;
    width: 550px;
    height: 525px;
    background-color: white;
    margin-left: 60px;
    margin-top: 100px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 35px;
}

.text-kiri > h1{
    font-size: 35px;
    font-family: 'poppins', sans-serif;
    color: #FDC134;
    text-align: center;
}

.text-kiri > h3{
    font-family: 'poppins', sans-serif;
    color: #0071C1;
    font-size: 30px;
}

.Foto-Pendaftaran{
    object-fit: cover;
    width: 100%;
    z-index: 300;
}

.Logo-ti{
    position: absolute;
    z-index: 0;
    left: 10px;
    top: 150px;
    transform: rotate(12deg);
    width: 300px;
}

.Logo-Blender{
    position: absolute;
    z-index: 0;
    left: 20px;
    top: 210px;
    width: 60px;
}

.Logo-AI{
    position: absolute;
    z-index: 0;
    left: 80px;
    top: 150px;
    width: 40px;
}

.Logo-VSCODE{
    position: absolute;
    z-index: 0;
    left: 220px;
    top: 190px;
    width: 60px;
}

.Logo-Javascript{
    position: absolute;
    z-index: 0;
    left: 270px;
    top: 120px;
    width: 60px;
}

.Logo-Animate{
    position: absolute;
    z-index: 0;
    left: 360px;
    top: 180px;
    width: 50px;
}

.Logo-Figma{
    position: absolute;
    z-index: 0;
    left: 420px;
    top: 115px;
    width: 60px;
}

.Logo-Photoshop{
    position: absolute;
    z-index: 0;
    left: 495px;
    top: 185px;
    width: 50px;
}

.Konten-Kanan{
    margin-left: 670px;
    margin-top: 120px;
}

.Input-Nama{
    margin-bottom: 50px;
}

.Input-Nama > h2{
    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;

}

.Input-Nama > input{
    width: 500px;
    height: 25px;
    padding-left: 7px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    border: none;
}

.Input-Nama > input:focus{
    outline: none;
    box-shadow: none;
}

.Input-Tanggal-Lahir{
    margin-bottom: 50px;
}

.Input-Tanggal-Lahir > h2{
    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;

}

.Input-Tanggal-Lahir > input{
    width: 495px;
    height: 25px;
    padding-left: 7px;
    padding-right: 5px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    border: none;
    
}

.Input-Tanggal-Lahir > input:focus{
    outline: none;
    box-shadow: none;
}

.Input-Jenis-Kelamin{
    margin-bottom: 50px;
}

.Input-Jenis-Kelamin > h2{
    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

input[type="radio"] {
    display: none;
}

.Radio-Button-Gender{
    display: flex;
    justify-content: center;
    gap: 180px;
}

.Radio-Button-Gender > label{
    position: relative;
    color: white;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
    display: inline-flex;
    gap: 20px;
    /* border: 3px solid #FDC134; */
    padding: 15px 0px;
    border-radius: 5px;
    font-size: 20px;
    align-items: center;
}

.Radio-Button-Gender > label::before{
    content: "";
    height: 20px;
    width: 20px;
    border: 7px solid white ;
    border-radius: 50%;
    outline: 3px solid #FDC134;
    background-color: white;
}

input[type="radio"]:checked + label:before{
    height: 20px;
    width: 20px;
    border: 7px solid white;
    /* border-color: #FDC134; */
    background-color: #FDC134;
}

/* input[type="radio"]:checked + label{
    background-color: #0071C1;
    color: #FDC134;
} */


/* Input Agama */

.Input-Agama{
    margin-bottom: 50px;
}

.Input-Agama > h2{
    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

/* .Protestan-Islam{
    display: flex;
    justify-content: center;
    gap: 170px;
} */

.Protestan-Islam > label{
    position: relative;
    color: white;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
    display: inline-flex;
    gap: 20px;
    /* border: 3px solid #FDC134; */
    padding: 15px 0px;
    border-radius: 5px;
    font-size: 20px;
    align-items: center;
}

.Protestan-Islam > label::before{
    content: "";
    height: 20px;
    width: 20px;
    border: 7px solid white ;
    border-radius: 50%;
    outline: 3px solid #FDC134;
    background-color: white;
}

input[type="radio"]:checked + label:before{
    height: 20px;
    width: 20px;
    border: 7px solid white;
    /* border-color: #FDC134; */
    background-color: #FDC134;
}

/* .Katolik-hindu{
    display: flex;
    justify-content: center;
    gap: 195px;
} */

.Katolik-hindu > label{
    position: relative;
    color: white;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
    display: inline-flex;
    gap: 20px;
    /* border: 3px solid #FDC134; */
    padding: 15px 0px;
    border-radius: 5px;
    font-size: 20px;
    align-items: center;
}

.Katolik-hindu > label::before{
    content: "";
    height: 20px;
    width: 20px;
    border: 7px solid white ;
    border-radius: 50%;
    outline: 3px solid #FDC134;
    background-color: white;
}

input[type="radio"]:checked + label:before{
    height: 20px;
    width: 20px;
    border: 7px solid white;
    /* border-color: #FDC134; */
    background-color: #FDC134;
}

/* .Konghucu-buddha{
    display: flex;
    justify-content: center;
    gap: 215px;
} */

.Konghucu-buddha > label{
    position: relative;
    color: white;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
    display: inline-flex;
    gap: 20px;
    /* border: 3px solid #FDC134; */
    padding: 15px 0px;
    border-radius: 5px;
    font-size: 20px;
    align-items: center;
}

.Konghucu-buddha > label::before{
    content: "";
    height: 20px;
    width: 20px;
    border: 7px solid white ;
    border-radius: 50%;
    outline: 3px solid #FDC134;
    background-color: white;
}

input[type="radio"]:checked + label:before{
    height: 20px;
    width: 20px;
    border: 7px solid white;
    /* border-color: #FDC134; */
    background-color: #FDC134;
}

.Protestan-Islam, .Katolik-hindu,
.Konghucu-buddha{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: start;
}

/* Input Jurusan */

.Input-Jurusan{
    margin-bottom: 50px;
}

.Input-Jurusan > h2{
    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.Radio-Button-Jurusan{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 15px;
    /* margin-top: 10px; */
}

.Radio-Button-Jurusan > label{
    position: relative;
    color: white;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
    display: inline-flex;
    gap: 20px;
    /* border: 3px solid #FDC134; */
    padding: 15px 0px;
    border-radius: 5px;
    font-size: 20px;
    align-items: center;
}

.Radio-Button-Jurusan > label::before{
    content: "";
    height: 20px;
    width: 20px;
    border: 7px solid white ;
    border-radius: 50%;
    outline: 3px solid #FDC134;
    background-color: white;
}

input[type="radio"]:checked + label:before{
    height: 20px;
    width: 20px;
    border: 7px solid white;
    /* border-color: #FDC134; */
    background-color: #FDC134;
}

/* INPUT ASAL SEKOLAH */

.Input-Asal-Sekolah{
    margin-bottom: 50px;
}

.Input-Asal-Sekolah > h2{
    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;

}

.Input-Asal-Sekolah > input{
    width: 500px;
    height: 25px;
    padding-left: 7px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    border: none;
}

.Input-Asal-Sekolah > input:focus{
    outline: none;
    box-shadow: none;
}

/* INPUT NISN */

.Input-NISN{
    margin-bottom: 50px;
}

.Input-NISN > h2{
    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;

}

.Input-NISN > input{
    width: 500px;
    height: 25px;
    padding-left: 7px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    border: none;
}

.Input-NISN > input:focus{
    outline: none;
    box-shadow: none;
}

/* INPUT Nomor Telepon Siswa */

.Input-Nomor-Telepon{
    margin-bottom: 50px;
}

.Input-Nomor-Telepon > h2{
    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;

}

.Input-Nomor-Telepon > input{
    width: 500px;
    height: 25px;
    padding-left: 7px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    border: none;
}

.Input-Nomor-Telepon > input:focus{
    outline: none;
    box-shadow: none;
}

/* INPUT Nomor Telepon Orang Tua / Wali murid */

.Input-Nomor-Orang-Tua{
    margin-bottom: 50px;
}

.Input-Nomor-Orang-Tua > h2{
    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;

}

.Input-Nomor-Orang-Tua > input{
    width: 500px;
    height: 25px;
    padding-left: 7px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    border: none;
}

.Input-Nomor-Orang-Tua > input:focus{
    outline: none;
    box-shadow: none;
}

/* Tombol Daftar */

.Tombol-Daftar{
    width: 250px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.Tombol-Daftar > a{
    text-decoration: none;
    color: #FDC134;
    font-family: 'poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.Tombol-Daftar:hover{
    background-color: transparent;
    color: white;
}

/* .Tombol-Daftar > a:hover{
    color: #fff;
} */

.Tombol-Daftar:hover a {
    color: white;
}