* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #0071C1;
    overflow-y: hidden;
}

html, body{
    overflow-x: hidden;
    overflow-y: hidden;
}

html {
    scroll-behavior: smooth;
}


/* Transisi Antar Halaman */
.Semua-Konten{
    animation: transitionIn 1s;
    -webkit-animation: transitionIn 1s;
}

@keyframes transitionIn {

    from{
        opacity: 0;
}

    to{
        opacity: 1;
        
}

}

.Container{
    display: flex;
    justify-content: center;
    min-width: 100%;
    /* padding-left: 50px;
    padding-right: 50px; */
    margin: 0 auto;

}

.Pembungkus-Nav{

    position: fixed;
    top: 0;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 50px;
    height: 83px;
    background-color: #fff;
    z-index: 900;

}

.nama-Depan{
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-size: 16px;
    color: #FDC134;

}

.nama-Belakang{
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-size: 16px;
    color: #FDC134;

}

.Menu{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 15px;
}

.Aktif{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 15px;
}

.nama-Gabungan{
    line-height: 1.3;
}

#Logo{
    width: 66px;
    height: 66px;
}

.Logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
}

.Menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.Menu > li{
    list-style-type: none;
    padding: 0px 40px 0px 40px;
}

.Daftar{
    color: #fff !important;
    background-color: #0071C1;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.Menu > li > a{
    text-decoration: none;
    color: black;
    position: relative;
    }


a:not(.no-underline)::after{
    content: "";
    position: absolute;
    background-color: #0071C1;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

a:hover::after{
    width: 100%;

}

.Daftar:hover{
    background-color: #fff;
    color: #0071C1 !important;
}

.container-konten{
    display: flex;
    /* grid-template-columns: 2fr 3fr 1fr; */
    /* grid-template-columns: 550px 50%; */
    gap: 50px;
    font-family: 'poppins', sans-serif;
}

.Navbar-Kuning{
    margin-top: 140px;
    /* margin-right: 60px; */
    width: 60px;
    height: 330px;
    background-color: #FDC134;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
} 

.Circle-1, .Circle-2, .Circle-3{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Circle-1 > i, .Circle-2 > i, .Circle-3 > i{
    font-size: 5px;
}

.Konten-Navbar-Kuning{
    gap: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    
}

.Konten-Navbar-Kuning > a{
    color: black;
    font-size: 25px;
    transition: 0.4s;

}

.Konten-Navbar-Kuning > a:not(.No-Hover):hover{
color: white;

}

.Konten-Navbar-Kuning > i{
    font-size: 25px;
    transition: 0.4s;
}

.Konten-Navbar-Kuning > i:not(.No-Hover):hover{
    color: white;
}

#Active{
    font-size: 30px;
    color: #fff;
}

.Kotak-Portofolio > h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 100px;
    font-size: 40px;
    color: #FDC134;
    border-radius: 10px 10px 0px 0px;

}

.Kotak-Portofolio{
    margin-top: 140px;
    width: 1100px;
    height: 500px;
    background-color: #FDC134;
    margin-left: 60px;
    border-radius: 10px;
}

.Gambar-Portofolio{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 80%;
}

.Gambar-Portofolio > img{
    object-fit: contain;
    
}


#popupImage{
    min-width: 50%;
}

/* .container-Lab img {
    cursor: pointer;
    transition: transform 0.2s;
} */

.Popup-Gambar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
    display: none;
}



.Popup-Gambar Span{
    /* position: absolute;
    top: 0;
    right: 10px; */

    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 1001;
}



.Popup-Gambar img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}