* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #0071C1;
}

/* Transisi antar Halaman */

.Semua-Konten{
    animation: transitionIn 1s;
    -webkit-animation: transitionIn 1s;
}

@keyframes transitionIn {

    from{
        opacity: 0;
}

    to{
        opacity: 1;
        
}


}


/* Header / Navbar */

.Container{
    display: flex;
    justify-content: center;
    min-width: 100%;
    /* padding-left: 50px;
    padding-right: 50px; */
    margin: 0 auto;

}

.Pembungkus-Nav{

    position: fixed;
    top: 0;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 50px;
    height: 83px;
    background-color: #fff;
    z-index: 900;

}

.nama-Depan{
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-size: 16px;
    color: #FDC134;

}

.nama-Belakang{
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-size: 16px;
    color: #FDC134;

}

.Menu{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 15px;
}

.Aktif{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 15px;
}

.nama-Gabungan{
    line-height: 1.3;
}

#Logo{
    width: 66px;
    height: 66px;
}

.Logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
}

.Menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.Menu > li{
    list-style-type: none;
    padding: 0px 40px 0px 40px;
}

.Daftar{
    color: #fff !important;
    background-color: #0071C1;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.Menu > li > a{
    text-decoration: none;
    color: black;
    position: relative;
    }


a:not(.no-underline)::after{
    content: "";
    position: absolute;
    background-color: #0071C1;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

a:hover::after{
    width: 100%;

}

.Daftar:hover{
    background-color: #fff;
    color: #0071C1 !important;
}

/* Bagian Slider Gambar */

/* gambar ke-1 */


#slider-1{
    /* width: 100%; */
    min-width: 100%;

    height: 450px;
}

.slider1{

    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;

    position: relative;
    display: flex;
    max-height: max-content;
    


}

.overlay-gambar1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    z-index: 1;
}

#text-gambar1{
    width: 100%;
    font-size: 30px;
    font-family: 'poppins', sans-serif;
    position: absolute;
    color: #FDC134;
    z-index: 2;
    text-align: center;
    top: 65%;
}

#Paragraf-gambar1{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    font-family: 'poppins', sans-serif;
    color: #fff;
    z-index: 3;
    position: absolute;
    top: 75%;
    text-align: center;
}


/* gambar ke-2 */

#slider-2{
    /* width: 100%; */
    min-width: 100%;
    height: 450px;
}

.slider2{

    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;

    position: relative;
    display: flex;
    /* min-width: 100%; */
    max-height: max-content;

}

.overlay-gambar2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    z-index: 1;
}

#Paragraf-gambar2{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    font-family: 'poppins', sans-serif;
    color: #fff;
    z-index: 5;
    position: absolute;
    top: 75%;
    text-align: center;
}

/* gambar ke-3 */

#slider-3{
    min-width: 100%;
    height: 450px;
}

.slider3{

    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;

    position: relative;
    display: flex;
    /* min-width: 100%; */
    max-height: max-content;

}

.overlay-gambar3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    z-index: 1;
}

#Paragraf-gambar3{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    font-family: 'poppins', sans-serif;
    color: #fff;
    z-index: 5;
    position: absolute;
    top: 75%;
    text-align: center;
}

/* Proses pembuat slider */

.pembungkus-slider{
    padding-top: 83px;
    margin: 0 auto;
    
}

.slider{
    display: flex;
    /*aspect-ratio: 16/9;
    */overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25); */
    scrollbar-width: none;
    pointer-events: none;
    touch-action: none;
    /* animation: slide 12s infinite; */

}


.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 115px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 5;
    pointer-events: auto;
    
}

/* .slider-nav > a{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff;
    opacity: 0.40;
    transition: opacity ease 250ms;
    -webkit-transition: opacity ease 250ms;
    -moz-transition: opacity ease 250ms;
    -ms-transition: opacity ease 250ms;
    -o-transition: opacity ease 250ms;
} */

/* .slider-nav > a:hover{
    opacity: 1;
} */




input{
    position: absolute;
    opacity: 0;
}

label{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: solid 2px white;
    border-radius: 50%;
    background-color: transparent;
    margin: 95vh 6px 0 6px;
    z-index: 6;
    cursor: pointer;
    transition-duration: 0.4s;
}

input:checked + label{
    background-color: white;
    width: 23px;
    height: 23px;

}

label:hover{
    background-color: white;
}

/* proses membuat Kata Sambutan Kepala sekolah */

.garis1{
    width: 290px;
    background-color: white;
    height: 5px;
    margin-bottom: 5px;
    margin-top: -7px;
    
}

.garis2{
    width: 290px;
    background-color: white;
    height: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}


.kata-sambutan{

display: grid;
grid-template-columns: 1fr 1fr;
gap: 2rem;
background-color: #0071C1;
padding: 2rem;
color: #fff;
align-items: start;
font-family: 'poppins' sans-serif;
position: relative;
margin-top: 120px;
z-index: 8;
padding-bottom: 360px;

}

.sambutan-kiri{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 35px;
    /* margin-top: 30px; */
    margin-top: -40px;
    
    /* align-self: flex-start; */

}

.sambutan-kanan{
    
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;

}

.foto-kepala-sekolah{

    position: absolute;
    text-align: center;
    font-family: 'poppins', sans-serif;
    /* margin-top: 0;
    left: 0; */
    top: -60px;
    left: 210px;


}

.foto-kepsek{
    width: 240px;
    height: auto;
    object-fit: contain;
    /* display: block; */
}

.Ikon{
    position: absolute;
    width: 110px;
    height: 110px;
    object-fit: contain;
}

.Animasi{
    top: -120px;
    right: 45px;
    
}

.TKJ{
    top: -70px;
    left: 70px;
}

.DKV{
    top: 160px;
    left: 70px;
}

.RPL{
    top: 360px;
    right: 45px;
}

/*Proses Membuat Fasilitas Terbaik */

.Lab{
    width: 400px;
    height: 244px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    
}


.container-Lab{
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    gap: 50px 150px;
}

.fasilitas-terbaik{
    font-family: 'poppins', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    color: #0071C1;
    font-weight: 700;
    font-size: 20px;
}

.container-fasilitas{
    background-color: white;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 40px;
    padding-top: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ConTKJ{
    position: relative;
    max-width: 400px;
}

.OverlayTKJ{
    position: absolute;
    height: 100px;
    width: 400px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.70), transparent);
    z-index: 1;
    top: 144px;
    /* bottom: 0; */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;



}

.Text-TKJ{
    position: absolute;
    /* bottom: 30px; */
    z-index: 2;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    /* right: 100px; */
    top: 85%;
    right: 25%;
    
    
}



.ConSeniRupa{
    position: relative;
    max-width: 400px;

}

.OverlaySeniRupa{
    position: absolute;
    height: 100px;
    width: 400px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.70), transparent);
    z-index: 1;
    top: 144px;
    /* bottom: 0; */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.Text-SeniRupa{
    position: absolute;
    top: 85%;
    right: 14%;
    color: white;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
}


.ConRPL{
    position: relative;
    max-width: 400px;
}

.OverlayRPL{
    position: absolute;
    height: 100px;
    width: 400px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.70), transparent);
    z-index: 1;
    top: 144px;
    /* bottom: 0; */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.Text-RPL{
    position: absolute;
    font-family: 'poppins', sans-serif;
    color: #fff;
    font-weight: 500;
    z-index: 2;
    top: 85%;
    right: 25%;
}

.ConMM{
    position: relative;
    max-width: 400px;
}

.OverlayMM{
    position: absolute;
    height: 100px;
    width: 400px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.70), transparent);
    z-index: 1;
    top: 144px;
    /* bottom: 0; */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}

.Text-MM{
    position: absolute;
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    z-index: 2;
    top: 85%;
    right: 12%;
}





/* .Fasilitas-Lain{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 50px;
    background-color: #0071C1;
    margin: auto;
    margin-top: 40px;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff ;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
} */

.text-fasilitas-lain{
    
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 50px;
    background-color: #0071C1;
    margin: auto;
    margin-top: 40px;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff ;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    text-decoration: none;
}

.text-fasilitas-lain:hover{

background-color: white;
color: #0071C1;
cursor: pointer;

}

#popupImage{
    max-width: 50%;
}

/* .container-Lab img {
    cursor: pointer;
    transition: transform 0.2s;
} */

.Popup-Gambar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
    display: none;
}



.Popup-Gambar Span{
    /* position: absolute;
    top: 0;
    right: 10px; */

    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 1001;
}



.Popup-Gambar img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}

.Lab, .OverlayMM, .OverlayRPL,
.OverlaySeniRupa, .OverlayTKJ, 
.Text-MM, .Text-RPL, .Text-SeniRupa, 
.Text-TKJ{
    cursor: pointer;
    /* transition: transform 8s;
    -webkit-transition: transform 8s;
    -moz-transition: transform 8s;
    -ms-transition: transform 8s;
    -o-transition: transform 8s; */
}

/* Proses Membuat Footer */

.Container-Footer{

display: flex;
max-width: 100%;
background-color: white;
margin-top: 150px;
height: 400px;
padding-left: 60px;
padding-right: 60px;
padding-top: 40px;
gap: 80px;

}

.Logo-Footer{
    width: 80px;
    height: 80px;
}

.ConLogoFooter{

    display: flex;
    align-items: center;

}

.nama-depan-footer{

font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-size: 20px;
    color: #FDC134;

}

.nama-belakang-footer{

    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-size: 20px;
    color: #FDC134;

}

.nama-gabungan-footer{
    line-height: 1.3;
    padding-left: 10px;
}

.Text-Footer{

font-family: 'poppins', sans-serif;
padding-top: 15px;
font-weight: 500;
font-size: 20px;

}

.Follow-Footer{

color: #0071C1;
font-size: 20px;
font-family: 'poppins', sans-serif;
font-weight: 500;
padding-top: 30px;

}

.garis-kuning{
    width: 55px;
    height: 5px;
    background-color: #FDC134;
}

.icon{
    padding-top: 30px;
    display: flex;
    gap: 50px;
}

#Ikon-instagram{
    font-size: 50px;
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    /* -webkit-background-clip: text; */
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

#Ikon-instagram:hover{
    font-size: 55px;
}

#Ikon-Facebook{
    font-size: 50px;
}

#Ikon-Facebook:hover{
    font-size: 55px;
}

#Ikon-Tiktok{
    font-size: 50px;
}

#Ikon-Tiktok:hover{
    font-size: 55px;
}

#Ikon-youtube{
    font-size: 55px;
}

#Ikon-youtube:hover{
    font-size: 60px;
}

.Contact-Us{
    font-family: 'poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #0071C1;
    letter-spacing: 3px;
    padding-top: 5px;
}

.Garis-Kuning-Contact{
    width: 130px;
    height: 6px;
    background-color: #FDC134;
}

#Ikon-WA{
    /* padding-top: 30px; */
    font-size: 50px;
}

.WA{
    display: flex;
    gap: 37px;
    padding-top: 40px;
}

.Nomor-WA{
    align-self: center;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    justify-self: center;
    /* padding-top: 25px; */
    font-weight: 500;

}

.Gmail{
    display: flex;
    gap: 30px;
    padding-top: 40px;
}

#Ikon-Gmail{
    /* padding-top: 30px; */
    font-size: 50px;
}

.Email-Globaliti{
    align-self: center;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    justify-self: center;
    /* padding-top: 25px; */
    font-weight: 500;
}

.Map{
    display: flex;
    gap: 40px;
    padding-top: 40px;
}

#Ikon-Map{
    /* padding-top: 30px; */
    font-size: 50px;
}

.Alamat-TI{

    align-self: center;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    justify-self: center;
    /* padding-top: 25px; */
    font-weight: 500;

}


.Info-PPDB{
    
    font-family: 'poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #0071C1;
    letter-spacing: 3px;
    padding-top: 5px;
}

.Garis-Kuning-PPDB{
    width: 110px;
    height: 6px;
    background-color: #FDC134;
}

#Daftar-Sekarang{
    display: inline-block;
    text-decoration: none;
    width: 270px;
    height: 40px;
    background-color: #0071C1;
    font-size: 25px;
    font-family: 'poppins', sans-serif;
    text-align: center;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 130px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

#Daftar-Sekarang:hover{
    background-color: #fff;
    color: #0071C1;
}