* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #0071C1;
    overflow-y: hidden;
}

html, body{
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}


/* Transisi Antar Halaman */
.Semua-Konten{
    animation: transitionIn 1s;
    -webkit-animation: transitionIn 1s;
}

@keyframes transitionIn {

    from{
        opacity: 0;
}

    to{
        opacity: 1;
        
}

}

.Container{
    display: flex;
    justify-content: center;
    min-width: 100%;
    /* padding-left: 50px;
    padding-right: 50px; */
    margin: 0 auto;

}

.Pembungkus-Nav{

    position: fixed;
    top: 0;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 50px;
    height: 83px;
    background-color: #fff;
    z-index: 900;

}

.nama-Depan{
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-size: 16px;
    color: #FDC134;

}

.nama-Belakang{
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-size: 16px;
    color: #FDC134;

}

.Menu{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 15px;
}

.Aktif{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 15px;
}

.nama-Gabungan{
    line-height: 1.3;
}

#Logo{
    width: 66px;
    height: 66px;
}

.Logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
}

.Menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.Menu > li{
    list-style-type: none;
    padding: 0px 40px 0px 40px;
}

.Daftar{
    color: #fff !important;
    background-color: #0071C1;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.Menu > li > a{
    text-decoration: none;
    color: black;
    position: relative;
    }


a:not(.no-underline)::after{
    content: "";
    position: absolute;
    background-color: #0071C1;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

a:hover::after{
    width: 100%;

}

.Daftar:hover{
    background-color: #fff;
    color: #0071C1 !important;
}


#Gambar-sekolah{

    min-width: 100%;
    height: 450px;

}

.Pembungkus-gambar-utama{
    padding-top: 83px;
}

.Judul-Jurusan{
    color: #0071C1;
    font-size: 21px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 15px 0px 0px 15px;
    
}

.garis-kuning-Jurusan{
    width: 300px;
    height: 5px;
    background-color: #FDC134;
    margin-left: 15px;
    margin-top: 4px;
}

.Text-Jurusan{
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    padding-left: 15px;
    padding: 10px 0px 15px 15px;
    font-weight: 500;
}




.Kotak-Jurusan{

    position: absolute;
    top: 73%;
    margin-left: 65px;
    width: 600px;
    height: 210px;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 1;
    
}

.Logo-Monokrom-1{
    position: absolute;
    width: 500px;
    opacity: 0.3;
    left: 70%;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
}

.Logo-Monokrom-2{
    position: absolute;
    width: 300px;
    opacity: 0.3;
    top: 140%;
    left: -1%;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
}

/* Jurusan RPL */

.Kelas-RPL{
    position: relative;
    width: 550px;
    margin-top: 630px;
    /* padding-left: 60px; */
    border-radius: 10px;
}

.logo-RPL{
    position: absolute;
    width: 110px;
    top: 224%;
    left: 42%;
}

.Rekayasa-Perangkat-Lunak{
    display: flex;
    gap: 80px;
    margin-right: 60px;
    margin-left: 60px;

}

.Text-RPL{
    margin-top: 580px;
    font-family: 'poppins', sans-serif;
    color: #fff;
}

.Judul-RPL{
    margin-bottom: 30px;
}

.Kalimat-RPL{
    font-size: 22px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.Prospek-Kerja-RPL{
    font-size: 25px;
}

.bagian1-prospek-kerja{
    display: flex;
    gap: 40px;
}

.front-end{
    display: flex;
    margin-top: 15px;
    gap: 15px;
}


.front-end > i {
    font-size: 22px;
}


.back-end > i{
    font-size: 22px;
}

.back-end{
    display: flex;
    margin-top: 15px;
    gap: 15px;
}

.bagian2-prospek-kerja{
    display: flex;
    gap: 40px;
    
}

.UI-UX{
    display: flex;
    margin-top: 15px;
    gap: 15px;
    align-items: center;
}

.UI-UX > i{
    font-size: 22px;
}

.Mobile-App{
    display: flex;
    margin-top: 15px;
    gap: 15px;
    align-items: center;
}

.Mobile-App > i{
    font-size: 22px;
}

/* Tombol Daftar Sekarang - RPL */

#Tombol-Daftar-Jurusan{
    display: flex;
    font-weight: 700;
    font-size: 22px;
    width: 230px;
    height: 45px;
    color: #FDC134;
    background-color: #fff;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

#Tombol-Daftar-Jurusan:hover{
    color: white;
    background-color: #0071C1;
}


.Logo-Monokrom-3{
    position: absolute;
    width: 800px;
    z-index: 0;
    left: 60%;
    top: 250%;
    opacity: 0.3;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
}


/* Jurusan DKV */

.Desain-Komunikasi-Visual{
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
    gap: 80px;
    margin-right: 60px;
    margin-left: 60px;

}

.Kelas-DKV{
    position: relative;
    width: 550px;
    margin-top: 300px;
    /* padding-left: 60px; */
    border-radius: 10px;
}

.logo-DKV{
    position: absolute;
    width: 110px;
    top: 332%;
    left: 49%;
}


.Text-DKV{
    margin-top: 250px;
    font-family: 'poppins', sans-serif;
    color: #fff;
}

.Judul-DKV{
    margin-bottom: 30px;
}

.Kalimat-DKV{
    font-size: 22px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.Prospek-Kerja-DKV{
    font-size: 25px;

}

.bagian3-prospek-kerja{
    display: flex;
    gap: 78px;
}

.Biro-Desain{
    display: flex;
    margin-top: 15px;
    gap: 15px;
}


.Biro-Desain > i {
    font-size: 22px;
}


.Biro-Iklan > i{
    font-size: 22px;
}

.Biro-Iklan{
    display: flex;
    margin-top: 15px;
    gap: 15px;
}

.bagian4-prospek-kerja{
    display: flex;
    gap: 40px;
    
}

.Percetakan{
    display: flex;
    margin-top: 15px;
    gap: 15px;
    align-items: center;
}

.Percetakan > i{
    font-size: 22px;
}

.Rumah-Produksi{
    display: flex;
    margin-top: 15px;
    gap: 15px;
    align-items: center;
}

.Rumah-Produksi > i{
    font-size: 22px;
}


.Logo-Monokrom-4{
    opacity: 0.3;
    position: absolute;
    width: 400px;
    right: 80%;
    top: 360%;
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
}


/* Jurusan TKJ */

.Teknik-Komputer-Jaringan{
    display: flex;
    gap: 80px;
    margin-right: 60px;
    margin-left: 60px;

}

.Kelas-TKJ{
    position: relative;
    width: 550px;
    margin-top: 300px;
    /* padding-left: 60px; */
    border-radius: 10px;
}

.logo-TKJ{
    position: absolute;
    width: 110px;
    top: 437%;
    left: 42%;
}


.Text-TKJ{
    margin-top: 250px;
    font-family: 'poppins', sans-serif;
    color: #fff;
}

.Judul-TKJ{
    margin-bottom: 30px;
}

.Kalimat-TKJ{
    font-size: 22px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.Prospek-Kerja-TKJ{
    font-size: 25px;

}

.bagian5-prospek-kerja{
    display: flex;
    gap: 95px;
}

.Network-Service{
    display: flex;
    margin-top: 15px;
    gap: 15px;
}


.Network-Service > i {
    font-size: 22px;
}

.Internet-Service{
    display: flex;
    margin-top: 15px;
    gap: 15px;
}

.Internet-Service > i{
    font-size: 22px;
}


.bagian6-prospek-kerja{
    display: flex;
    gap: 40px;
    
}

.Administrator-Jaringan{
    display: flex;
    margin-top: 15px;
    gap: 15px;
    align-items: center;
}

.Administrator-Jaringan > i{
    font-size: 22px;
}

.Teknisi{
    display: flex;
    margin-top: 15px;
    gap: 15px;
    align-items: center;
}

.Teknisi > i{
    font-size: 22px;
}


.Logo-Monokrom-5{
    opacity: 0.3;
    width: 250px;
    position: absolute;
    left: 80%;
    top: 460%;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
}


/* Jurusan Animasi */

.Animasi{
    display: flex;
    flex-direction: row-reverse;
    gap: 80px;
    margin-right: 60px;
    margin-left: 60px;

}

.Kelas-Animasi{
    position: relative;
    width: 550px;
    margin-top: 300px;
    /* padding-left: 60px; */
    border-radius: 10px;
}

.logo-Animasi{
    position: absolute;
    width: 110px;
    top: 542%;
    left: 49%;
}


.Text-Animasi{
    margin-top: 250px;
    font-family: 'poppins', sans-serif;
    color: #fff;
}

.Judul-Animasi{
    margin-bottom: 30px;
}

.Kalimat-Animasi{
    font-size: 22px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.Prospek-Kerja-Animasi{
    font-size: 25px;

}

.bagian7-prospek-kerja{
    display: flex;
    gap: 78px;
}

.Animator{
    display: flex;
    margin-top: 15px;
    gap: 15px;
}


.Animator > i {
    font-size: 22px;
}


.Perancang-game > i{
    font-size: 22px;
}

.Perancang-game{
    display: flex;
    margin-top: 15px;
    gap: 15px;
}

.bagian8-prospek-kerja{
    display: flex;
    gap: 72px;
    
}

.background-painter{
    display: flex;
    margin-top: 15px;
    gap: 15px;
    align-items: center;
}

.background-painter > i{
    font-size: 22px;
}

.Storyboard-artist{
    display: flex;
    margin-top: 15px;
    gap: 15px;
    align-items: center;
}

.Storyboard-artist > i{
    font-size: 22px;
}



/* Footer */

.Container-Footer{

position: relative;
display: flex;
max-width: 100%;
background-color: white;
margin-top: 150px;
height: 400px;
padding-left: 60px;
padding-right: 60px;
padding-top: 40px;
gap: 80px;
z-index: 1;

}

.Logo-Footer{
    width: 80px;
    height: 80px;
}

.ConLogoFooter{

    display: flex;
    align-items: center;

}

.nama-depan-footer{

font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-size: 20px;
    color: #FDC134;

}

.nama-belakang-footer{

    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-size: 20px;
    color: #FDC134;

}

.nama-gabungan-footer{
    line-height: 1.3;
    padding-left: 10px;
}

.Text-Footer{

font-family: 'poppins', sans-serif;
padding-top: 15px;
font-weight: 500;
font-size: 20px;

}

.Follow-Footer{

color: #0071C1;
font-size: 20px;
font-family: 'poppins', sans-serif;
font-weight: 500;
padding-top: 30px;

}

.garis-kuning{
    width: 55px;
    height: 5px;
    background-color: #FDC134;
}

.icon{
    padding-top: 30px;
    display: flex;
    gap: 50px;
}

#Ikon-instagram{
    font-size: 50px;
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    /* -webkit-background-clip: text; */
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

#Ikon-instagram:hover{
    font-size: 55px;
}

#Ikon-Facebook{
    font-size: 50px;
}

#Ikon-Facebook:hover{
    font-size: 55px;
}

#Ikon-Tiktok{
    font-size: 50px;
}

#Ikon-Tiktok:hover{
    font-size: 55px;
}

#Ikon-youtube{
    font-size: 55px;
}

#Ikon-youtube:hover{
    font-size: 60px;
}

.Contact-Us{
    font-family: 'poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #0071C1;
    letter-spacing: 3px;
    padding-top: 5px;
}

.Garis-Kuning-Contact{
    width: 130px;
    height: 6px;
    background-color: #FDC134;
}

#Ikon-WA{
    /* padding-top: 30px; */
    font-size: 50px;
}

.WA{
    display: flex;
    gap: 37px;
    padding-top: 40px;
}

.Nomor-WA{
    align-self: center;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    justify-self: center;
    /* padding-top: 25px; */
    font-weight: 500;

}

.Gmail{
    display: flex;
    gap: 30px;
    padding-top: 40px;
}

#Ikon-Gmail{
    /* padding-top: 30px; */
    font-size: 50px;
}

.Email-Globaliti{
    align-self: center;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    justify-self: center;
    /* padding-top: 25px; */
    font-weight: 500;
}

.Map{
    display: flex;
    gap: 40px;
    padding-top: 40px;
}

#Ikon-Map{
    /* padding-top: 30px; */
    font-size: 50px;
}

.Alamat-TI{

    align-self: center;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    justify-self: center;
    /* padding-top: 25px; */
    font-weight: 500;

}


.Info-PPDB{
    
    font-family: 'poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #0071C1;
    letter-spacing: 3px;
    padding-top: 5px;
}

.Garis-Kuning-PPDB{
    width: 110px;
    height: 6px;
    background-color: #FDC134;
}

#Daftar-Sekarang{
    display: inline-block;
    text-decoration: none;
    width: 270px;
    height: 40px;
    background-color: #0071C1;
    font-size: 25px;
    font-family: 'poppins', sans-serif;
    text-align: center;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 130px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

#Daftar-Sekarang:hover{
    background-color: #fff;
    color: #0071C1;
}

.Kotak-Akreditasi-Sekolah{
    margin-top: 391px;
    margin-right: 65px;
}