* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #0071C1;
    overflow-y: hidden;
}

html, body{
    overflow-x: hidden;
}

/* Transisi Antar Halaman */
.Semua-Konten{
    animation: transitionIn 1s;
    -webkit-animation: transitionIn 1s;
}

@keyframes transitionIn {

    from{
        opacity: 0;
}

    to{
        opacity: 1;
        
}


}


/* Header / Navbar */

.Container{
    display: flex;
    justify-content: center;
    min-width: 100%;
    /* padding-left: 50px;
    padding-right: 50px; */
    margin: 0 auto;

}

.Pembungkus-Nav{

    position: fixed;
    top: 0;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 50px;
    height: 83px;
    background-color: #fff;
    z-index: 900;

}

.nama-Depan{
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-size: 16px;
    color: #FDC134;

}

.nama-Belakang{
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-size: 16px;
    color: #FDC134;

}

.Menu{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 15px;
}

.Aktif{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 15px;
}

.nama-Gabungan{
    line-height: 1.3;
}

#Logo{
    width: 66px;
    height: 66px;
}

.Logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
}

.Menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.Menu > li{
    list-style-type: none;
    padding: 0px 40px 0px 40px;
}

.Daftar{
    color: #fff !important;
    background-color: #0071C1;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.Menu > li > a{
    text-decoration: none;
    color: black;
    position: relative;
    }


a:not(.no-underline)::after{
    content: "";
    position: absolute;
    background-color: #0071C1;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

a:hover::after{
    width: 100%;

}

.Daftar:hover{
    background-color: #fff;
    color: #0071C1 !important;
}

/* Proses Membuat Gambar Utama/Sekolah */

#Gambar-sekolah{

    min-width: 100%;
    height: 450px;

}

.Pembungkus-gambar-utama{
    padding-top: 83px;
}

.Profil{
    color: #0071C1;
    font-size: 21px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 15px 0px 0px 15px;
    
}

.garis-kuning-profil{
    width: 300px;
    height: 5px;
    background-color: #FDC134;
    margin-left: 15px;
    margin-top: 4px;
}

.Text-Profil{
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    padding-left: 15px;
    padding: 10px 0px 15px 15px;
    font-weight: 500;
}




.Kotak-Profil{

    position: absolute;
    top: 73%;
    margin-left: 65px;
    width: 600px;
    height: 210px;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 1;
    
}


.Logo-Monokrom-1{
    position: absolute;
    width: 500px;
    opacity: 0.3;
    left: -15%;
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    z-index: 0;
}

.Tentang-Globaliti{
    display: flex;
    gap: 100px;
    
}

.Kotak-Tentang-Globaliti{
    position: relative;
    z-index: 1;
    width: 350px;
    height: 320px;
    background-color: #fff;
    margin-left: 65px;
    margin-top: 400px;
    font-family: 'poppins', sans-serif;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
}

.Text-Tentang-Globaliti{
    z-index: 4;
    font-weight: 600;
    color: #0071C1;
    font-size: 28px;
    letter-spacing: 4px;
    padding: 10px 0px 30px 0px;

}

.Sejarah-Sekolah{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sejarah-Sekolah > a{
    margin-left: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.Sejarah-Sekolah > i{
    font-size: 25px;
    color: #FDC134;
    
}

.Visi-Misi{
    display: flex;
    align-items: center;
    padding-top: 60px;
    margin-left: 15px;
}

.Visi-Misi > a{
    margin-left: 25px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    font-size: 20px;

}

.Visi-Misi > i{
    color: #FDC134;
}

.Akreditasi-Sekolah{
    display: flex;
    align-items: center;
    padding-top: 60px;
    margin-left: 15px;
}

.Akreditasi-Sekolah > a{
    margin-left: 25px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 20px;
}


.Akreditasi-Sekolah > i {
    color: #FDC134;
}

.Judul-Sejarah-Sekolah{
    font-size: 35px;
    
    color: #fff;
    font-family: 'poppins', sans-serif;
}

.Kotak-Sejarah{
    margin-top: 391px;
    margin-right: 65px;
}

.Text-Kuning-Sejarah{
    width: 150px;
    height: 5px;
    background-color: #FDC134;
    margin-top: 10px;
    margin-bottom: 15px;
}

.Kalimat-Sejarah-Sekolah{
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    color: #fff;
    font-weight: 500;
    line-height: 2.3;
}

.Lanjutan-Kalimat-Sejarah-Sekolah{
    margin-right: 65px;
    margin-left: 65px;
    padding-top: 20px;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    line-height: 2.3;
    color: #fff;
}


/* Proses Membuat Hover di Bagian "Tentang Globaliti" */

.Kotak-Tentang-Globaliti a{
    position: relative;
}

.Kotak-Tentang-Globaliti a:not(.no-underline)::after{
    content: "";
    position: absolute;
    background-color: #FDC134;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.Kotak-Tentang-Globaliti a:hover::after{
    width: 100%;

}

.Logo-Monokrom-2{
    
    position: absolute;
    z-index: 0;
    opacity: 0.3;
    width: 600px;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    left: 80%;
    pointer-events: none;
    bottom: -170%;
}


.Container-Footer{

position: relative;
display: flex;
max-width: 100%;
background-color: white;
margin-top: 150px;
height: 400px;
padding-left: 60px;
padding-right: 60px;
padding-top: 40px;
gap: 80px;
z-index: 1;

}

.Logo-Footer{
    width: 80px;
    height: 80px;
}

.ConLogoFooter{

    display: flex;
    align-items: center;

}

.nama-depan-footer{

font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-size: 20px;
    color: #FDC134;

}

.nama-belakang-footer{

    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-size: 20px;
    color: #FDC134;

}

.nama-gabungan-footer{
    line-height: 1.3;
    padding-left: 10px;
}

.Text-Footer{

font-family: 'poppins', sans-serif;
padding-top: 15px;
font-weight: 500;
font-size: 20px;

}

.Follow-Footer{

color: #0071C1;
font-size: 20px;
font-family: 'poppins', sans-serif;
font-weight: 500;
padding-top: 30px;

}

.garis-kuning{
    width: 55px;
    height: 5px;
    background-color: #FDC134;
}

.icon{
    padding-top: 30px;
    display: flex;
    gap: 50px;
}

#Ikon-instagram{
    font-size: 50px;
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    /* -webkit-background-clip: text; */
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

#Ikon-instagram:hover{
    font-size: 55px;
}

#Ikon-Facebook{
    font-size: 50px;
}

#Ikon-Facebook:hover{
    font-size: 55px;
}

#Ikon-Tiktok{
    font-size: 50px;
}

#Ikon-Tiktok:hover{
    font-size: 55px;
}

#Ikon-youtube{
    font-size: 55px;
}

#Ikon-youtube:hover{
    font-size: 60px;
}

.Contact-Us{
    font-family: 'poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #0071C1;
    letter-spacing: 3px;
    padding-top: 5px;
}

.Garis-Kuning-Contact{
    width: 130px;
    height: 6px;
    background-color: #FDC134;
}

#Ikon-WA{
    /* padding-top: 30px; */
    font-size: 50px;
}

.WA{
    display: flex;
    gap: 37px;
    padding-top: 40px;
}

.Nomor-WA{
    align-self: center;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    justify-self: center;
    /* padding-top: 25px; */
    font-weight: 500;

}

.Gmail{
    display: flex;
    gap: 30px;
    padding-top: 40px;
}

#Ikon-Gmail{
    /* padding-top: 30px; */
    font-size: 50px;
}

.Email-Globaliti{
    align-self: center;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    justify-self: center;
    /* padding-top: 25px; */
    font-weight: 500;
}

.Map{
    display: flex;
    gap: 40px;
    padding-top: 40px;
}

#Ikon-Map{
    /* padding-top: 30px; */
    font-size: 50px;
}

.Alamat-TI{

    align-self: center;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    justify-self: center;
    /* padding-top: 25px; */
    font-weight: 500;

}


.Info-PPDB{
    
    font-family: 'poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #0071C1;
    letter-spacing: 3px;
    padding-top: 5px;
}

.Garis-Kuning-PPDB{
    width: 110px;
    height: 6px;
    background-color: #FDC134;
}

#Daftar-Sekarang{
    display: inline-block;
    text-decoration: none;
    width: 270px;
    height: 40px;
    background-color: #0071C1;
    font-size: 25px;
    font-family: 'poppins', sans-serif;
    text-align: center;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 130px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

#Daftar-Sekarang:hover{
    background-color: #fff;
    color: #0071C1;
}